body {
    margin: 0;
    background-image: url("orchard_funds.jpg");
    height: 100%;
    width: 100%;

    /* Center and scale the image nicely */
    background-position: left center;
    background-repeat: no-repeat;
    background-size: cover;
}